
.nav-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #222;
  padding: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  padding: 8px 16px;
  border-radius: 5px;
}

.nav-link:hover { background-color: #28a745; }


@media (min-width: 768px) {
  .nav-container {
    flex-direction: row;
    justify-content: center;
  }
  .nav-link { margin: 0 10px; }
}